<% provide(:title, "Home") %>
<div>
  <h1>Tour Management System</h1>
  <br><br>
  <p>
    DREAM. EXPLORE. DISCOVER!!! Click on the button to get started!
  </p>
  <br>
  <a href="/login" >Get Started!</a>
</div>
